body {
    background-color: #F4F4F2;
}

#content {
    min-height: calc(100vh - 80px);
}

:root {
    --default-button-color: #CB202D;
    --default-navbar-color: #CB202D;
    --default-container-color: #2D2D2D;
}

.square {
    border : 1px solid var(--default-container-color);
    background-color: #2D2D2D;
    border-radius: 20px !important;
}

.margin-around {
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.colored-button {
    background-color: var(--default-button-color) !important;
}

.pad-left {
    padding-left: 10%;
    margin-bottom: 50px;
}

.big-font {
    font-size: 3vw;
}

.menu-font {
    font-size: 35px;
}

.padd-top {
    padding-top: 3%;
}

.info-font {
    font-size: 18px !important;
}

.pad-menu {
    padding-top: 5%;
    padding-left: 5%;
}

.profile-container {
    margin-top: 3%;
    margin-left: 2%;
    padding-bottom: 3%;
}

.padd-bottom {
    margin-top: 4%;
    margin-bottom: 5%;
}

.margin-right {
    margin-right: 10px;
}

.grouped-info {
    display: flex;
}

.pad-right-text { 
    padding-right: 20px;
}

.remove-margin {
    margin: 0;
}

.hover-underline:hover {
    text-decoration: underline;
}

.relative-position {
    position: relative;
}

.corner-bottom-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.corner-bottom-right-review {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.padinput {
    padding-left: 10px !important;
    box-sizing: border-box;
    border-radius: 8px !important;
}

@media(max-width: 1830px) {
    .menu-font, .info-font {
        font-size: 25px;
    }
}

@media(max-width: 1500px) {
    .menu-font, .info-font {
        font-size: 22px;
    }
}

@media(max-width: 1350px) {
    .menu-font, .info-font {
        font-size: 18px;
    }
}

@media(max-width: 1030px) {
    .menu-font, .info-font {
        font-size: 16px;
    }
}

@media(max-width: 900px) {
    .menu-font, .info-font {
        font-size: 18px;
    }
}