:root {
    --default-text-color: #2D2D2D; 
    --default-background-color: #F4F4F2; 
}

.review-section {
    margin-bottom: 40px; 
}

.write-review {
    min-height: 50px;  
    max-height: 400px; 
    margin-bottom: 40px; 
    padding: 30px 30px; 
    background-color: var(--default-card-color);
    clear: both; 
}

.user-review-container {
    width: 100%; 
}

#review-area {
    max-height: 200px; 
    overflow-y: scroll; 
}

.review-btn {
    z-index: 0 !important; 
}

.submit-btn {
    border-radius: 15% !important; 
    margin-right: 20px; 
    z-index: 0 !important; 
}

.edit-review {
    width: 100%; 
}

.review-title {
    margin-top: 0px; 
}

.view-review {
    padding: 1px 20px 20px;  
    background-color: var(--default-card-color);
}

.view-review-subsection {
    margin-bottom: 30px !important; 
}