<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="../../public/css/navbar.css">
  <link rel="stylesheet" href="../../public/css/font.css">
  <title>Navbar testing</title>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper row">
        <a href="../landing.html" id="zarap" class="hide-on-med-and-down col s2">zarap</a>
        <!--Navbar for Smaller Screens-->
      <div class = "hide-on-large-only">
        <a href="../landing.html" id="zarap" class="brand-logo center">zarap</a>
        <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
      <ul class="right hide-on-med-and-down col s3">
        <div class="right">
          <li><a href="../login.html">Login</a></li>
          <li><a href="../register.html">Register</a></li>
        </div>
      </ul>
      </div>
    </nav>
  </div>
  <!--Sidebar Content-->
  <ul id="slide-out" class="sidenav">
    <li><div class="divider"></div></li>
    <li><a href="../register.html">Register</a></li>
    <li><div class="divider"></div></li>
    <li><a href="../login.html">Login</a></li>
  </ul>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elem = document.querySelector('.sidenav');
    var instance = new M.Sidenav(elem);
  });
</script>
</html>